{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock %}  </title>
	<link rel="stylesheet" href="{% static 'clothes/css/style.css' %}">
</head>
<body>
	<header class="header">
		<div class="header__wrapper">
			<img src="" alt="">
			<nav class="header__nav nav">
				<li class="nav__list">
					<a href="/main">Главная</a>
				</li>
				<li class="nav__list">
					<a href="/admin">Админка</a>

				</li>
				<li class="nav__list">
					<a href="#">Список заказов</a>

				</li>

			</nav>
			{# <p class="header__greetings">Здравствуйте,{% block user_name %}  {% endblock %}</p> #}
			<a href="">Войти</a>
	</header>


	{% block content %} 

	{% endblock %} 
</body>
</html>