{%extends 'clothes/base.html'%}

{% block title %} {{service.title}} {% endblock %}

{% block content %} 
	<div class="main__wrapper">
		<p>Благодарим вас за заказ. С вами скоро свяжутся</p>
	</div>
	
{% endblock %}