{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'travels/css/style.css' %}">
	<title>Турист</title>
</head>
<body>
	<div class="main__wrapper">
		<a href="/main">Войти как гость</a>
	</div>	
</body>
</html>
