{% extends 'clothes/base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}
 	<section class="main">
 		<div class="main__wrapper">
 			<h1 class="main__heading">Типы одежды</h1>
 			<ul class="main__list">
 				{% for type in clothes_types  %}
 					<li class="main__item">
 						<a class="main__link" href="{{type.get_url}}">{{ type.name }}</a>
 					</li>
 				{% endfor %}
 			</ul>
 		</div>
 	</section>
	
	
{% endblock %}