{% extends 'clothes/base.html' %}

{% block title %} {{offer.title}} {% endblock %}

{% block content %}
 	<section class="main">
 		<div class="main__wrapper">
 			<h1 class="main__heading">{{offer.title}}</h1>
 			<form action="{{offer.get_url}}" method="post">
				{% csrf_token %}
				{% for field in form %}
					<div>
						{{field.label_tag}}
						{{field.errors}}
						{{field}}
					</div>
				{% endfor %}
				<button>Отправить</button>
			</form>
 		</div>
 	</section>
	
	
{% endblock %}