{% extends 'clothes/base.html' %}

{% block title %} {{type_clothe}} {% endblock %}

{% block content %}
 	<h1>{{type_clothe}}</h1>
	<ul>
		{% for offer in offers  %}
			<li class="offers__item">
				<a class="offers__link" href="{{offer.get_url}}">{{ offer.title }}</a>
				<p class="offers__price">Цена:{{offer.price}}</p>
			</li>
		{% endfor %}
	</ul>
	
{% endblock %}